@import '../globals.scss';

.index-container {
  position: relative;
  display: flex;
  background-color: $white;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  width: inherit;
}
