.main-background-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;
}

#canvas {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}

#overlay {
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.3) 10%,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 1) 100%
  );
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#bg_glow {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
