.index-project-wrapper-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  width: 100%;
}

.index-project-wrapper-summary {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 360px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.index-project-wrapper-full {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 640px;
}
.index-project-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.index-project-tag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 22px;
}

.index-project-icon {
  margin: 10px;
}

.index-project-description {
  margin: 10px;
}

.index-project-rowbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.index-project-line {
  border-top: 1px solid #444444;
  margin: 0px auto;
  margin-bottom: 10px;
  width: 340px;
  height: 0px;
}

.index-project-line:after {
  content: '◆';
  position: relative;
  top: -10px;
  left: calc(100% - 13px);
}
