.main-route-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: calc(100vw - (100vw - 100%));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}
