.main-route-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}
