.footerbar-container-01 {
  position: fixed;
  left: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  z-index: 1412;
  height: 10vh;
  width: 100vw;
}

.footerbar-container-02 {
  display: flex;
  height: inherit;
  justify-content: space-between;
  align-items: center;
  margin-right: 3vw;
}

.footerbar-copyright {
  display: flex;
  height: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  z-index: 1413;
}
