@import '../../../globals.scss';

.index-introduce-container {
  z-index: 10;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  width: 100vw;
}
.index-introduce-background1 {
  height: 100%;
  width: 20vw;
}
.index-introduce-img {
  z-index: 1;
  position: absolute;
  top: 32vh;
  left: 14vw;
  height: 250px;
  width: 230px;
  border-radius: 0 30px 0 30px;
}
.index-introduce-img-overlay {
  z-index: 2;
  border: 2px solid #ccc;
  position: absolute;
  top: 30vh;
  left: 13vw;
  height: 250px;
  width: 230px;
  border-radius: 0 30px 0 30px;
}
.index-introduce-overlay {
  z-index: 2;
  position: absolute;
  top: 30vh;
  left: 13vw;
  height: 250px;
  width: 250px;
}
.index-introduce-text {
  margin-top: 42vh;
  margin-left: 20vw;
  font-size: 50px;
  font-weight: 800;
}
.index-introduce-text2 {
  margin-top: 45vh;
  margin-left: 5vw;
  font-size: 50px;
  font-weight: 800;
}
@media (max-width: 900px) {
  .index-introduce-img {
    top: 2vh;
    left: 5vw;
  }
  .index-introduce-img-overlay {
    top: 3vh;
    left: 6vw;
  }
  .index-introduce-text {
    margin-top: 35vh;
    margin-left: 20px;
    margin-right: 5vw;
  }
  .index-introduce-text2 {
    margin-top: 38vh;
    margin-left: 0px;
    margin-right: 5vw;
  }
}
@media (max-height: 550px) {
  .index-introduce-img {
    top: calc(40vh - 100px);
    left: 0vw;
  }
  .index-introduce-img-overlay {
    top: calc(42vh - 100px);
    left: -1vw;
  }
  .index-introduce-text {
    margin-top: 35vh;
    margin-left: 50px;
    margin-right: 5vw;
  }
  .index-introduce-text2 {
    margin-top: 38vh;
    margin-left: 0px;
    margin-right: 5vw;
  }
}
