@import '../../../globals.scss';

.index-stacks-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  width: 100vw;
}
.index-stacks-text {
  margin-top: 45vh;
  margin-left: 5vw;
  font-size: 50px;
  font-weight: 900;
}
